   <form id="ipd_form">
 <div class="grid">
            <div class="grid-body">
              <h2 class="mb-4 text-center">IPD Registration Form</h2>
              <div class="row">
                <div class="col-lg-3 col-md-5 col-sm-6 col-12 mx-auto form-wrapper">
                    <div class="patient-profile">
  <div class="user-profile">
    <div class="display-avatar animated-avatar">
      <!-- <img class="profile-img img-lg rounded-circle" src="../static/images/profile/male/image_1.png" alt="profile image"> -->
      <h1 class="profile-img text-white" style="line-height: 1.2em;" id="n">P</h1>
    </div>
    <div class="info-wrapper">
      <p class="user-name" id="pname">Pulkit Batheja</p>
      <h6 class="display-income" id="prn">PIET16CE083</h6>
    </div>
    <div class="table-responsive">
                      <table class="table info-table">
                        <tbody>
                          <tr>
                            <th>Gender</th>
                            <td id="pgender" class="text-left">Male</td>
                          </tr>
                          <tr>
                            <th>Mobile</th>
                            <td id="pmobile" class="text-left">9713054321</td>
                          </tr>
                          <tr>
                            <th>Address</th>
                            <td id="paddress" class="text-left">Sitapura, Jaipur</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
              
                          <button class="btn btn-outline-primary component-flat" type="button" data-toggle="modal" data-target=".bd-example-modal-lg" onclick="bedallot();" >Allot Bed</button>             
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      
      
        
              <h2 class="mb-4 text-center">Bed Details</h2>
              <div class="row">
                <div class="col-12">
             
                <div class="btn-group mb-0" data-toggle="buttons">
                     
                    <div class="item-wrapper" id="bedinfo">

                 </div>

</div>
             
       
                
                </div>
              </div>
         


      
    </div>
  </div>
</div>
  </div>
</div>
</div>
  
                <div class="col-lg-9 col-md-7 col-sm-8 col-12 mx-auto form-wrapper">
                    <div class="grid">
                  <div class="grid-body">
                  <div class="d-flex flex-row mt-4 mb-4">
                       <div class="col-lg-6 col-md-6 col-sm-6 col-6 mx-auto form-wrapper">
                    <h6 class="font-weight-bold">Reason: <span class="font-weight-normal" id="reason"></span></h6>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-6 mx-auto form-wrapper">
                    <h6 class="font-weight-bold">Doctor Name: <span class="font-weight-normal" id="dname"></span></h6>
                  </div>
                </div>
                  
                    <div class="d-flex flex-row mt-4 mb-4">
                       <div class="col-lg-6 col-md-6 col-sm-6 col-6 mx-auto form-wrapper">
                    <div class="form-group">
                      <input type="hidden" name="prnn" value="" id="prnn">
                      <input type="text" class="form-control" name="completeaddress" placeholder="Complete Address" />
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-6 mx-auto form-wrapper">
                    <div class="form-group">
                     <select class="custom-select" name="state">
                      <option disabled="" selected="true">State</option>
                                       <option value="Andhra Pradesh">Andhra Pradesh</option>
          <option value="Arunachal Pradesh">Arunachal Pradesh</option>
          <option value="Assam">Assam</option>
          <option value="Bihar">Bihar</option>
          <option value="Chhattisgarh">Chhattisgarh</option>
          <option value="Goa">Goa</option>
          <option value="Gujarat">Gujarat</option>
          <option value="Haryana">Haryana</option>
          <option value="Himachal Pradesh">Himachal Pradesh</option>
          <option value="Jammu and Kashmir ">Jammu and Kashmir</option>
          <option value="Jharkhand">Jharkhand</option>
          <option value="Karnataka">Karnataka</option>
          <option value="Kerala">Kerala</option>
          <option value="Madhya Pradesh">Madhya Pradesh</option>
          <option value="Maharashtra">Maharashtra</option>
          <option value="Manipur">Manipur</option>
          <option value="Meghalaya">Meghalaya</option>
          <option value="Mizoram">Mizoram</option>
          <option value="Nagaland">Nagaland</option>
          <option value="Odisha">Odisha</option>
          <option value="Punjab">Punjab</option>
          <option value="Rajasthan">Rajasthan</option>
          <option value="Sikkim">Sikkim</option>
          <option value="Tamil Nadu">Tamil Nadu</option>
          <option value="Telangana">Telangana</option>
          <option value="Tripura">Tripura</option>
          <option value="Uttar Pradesh">Uttar Pradesh</option>
          <option value="Uttarakhand">Uttarakhand</option>
          <option disabled="">Union Teritory</option>
          <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
          <option value="Chandigarh">Chandigarh</option>
          <option value="Dadar and Nagar Haveli"> Dadar and Nagar Haveli</option>
          <option value="Daman and Diu">Daman and Diu</option>
          <option value="Delhi">Delhi</option>
          <option value="Lakshadweep">Lakshadweep</option>
          <option value="Puducherry">Puducherry</option>
                    </select>
                    </div>
                  </div>
                    </div>

                    <div class="d-flex flex-row mt-4 mb-4">
                       <div class="col-lg-4 col-md-6 col-sm-6 col-6 mx-auto form-wrapper">
                    <div class="form-group">
                      <input type="text" class="form-control" name="city" placeholder="City" />
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6 col-6 mx-auto form-wrapper">
                    <div class="form-group">
                      <input type="text" class="form-control" name="pincode" placeholder="Pincode" />
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6 col-6 mx-auto form-wrapper">
                    <div class="form-group">
                      <input type="text" class="form-control" name="nationality" value="India" placeholder="Nationality" />
                    </div>
                  </div>
                    </div>

                    <div class="d-flex flex-row mt-4 mb-4">
                       <div class="col-lg-6 col-md-6 col-sm-6 col-6 mx-auto form-wrapper">
                    <div class="form-group">
                      <select class="custom-select" name="maritalstatus">
                      <option disabled="" selected="true">Religious Affliation</option>
                      <option>Single</option>
                      <option>Married</option>
                      <option>Widowed</option>
                      <option>Divorced</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-6 mx-auto form-wrapper">
                    <div class="form-group">
                      <input type="text" class="form-control" name="occupation" placeholder="Occupation" />
                    </div>
                  </div>
                  
                    </div>
                    <div class="d-flex flex-row mt-4 mb-4">
                       <div class="col-lg-4 col-md-6 col-sm-6 col-6 mx-auto form-wrapper">
                    <div class="form-group">
                      <select class="custom-select" name="photoid">
                      <option disabled="" selected="true">Photo Id</option>
                      <option>Aadhar card</option>
                      <option>Passport</option>
                      <option>Driving Licence</option>
                      <option>Election Comission ID</option>
                      <option>Ration Card</option>
                      <option>Other</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6 col-6 mx-auto form-wrapper">
                    <div class="form-group">
                      <input type="text" class="form-control" name="otherid" placeholder="If other please Specify" />
                    </div>
                  </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-6 mx-auto form-wrapper">
                    <div class="form-group">
                      <input type="text" class="form-control" name="idn" placeholder="Id Number" />
                    </div>
                  </div>
                    </div>
                    <h6 class="text-primary">Relative/Other Contact</h6>
                    <div class="d-flex flex-row mt-4 mb-4">
                     
                  <div class="col-lg-6 col-md-6 col-sm-6 col-6 mx-auto form-wrapper">
                    <div class="form-group">
                      <input type="text" class="form-control" name="rname" placeholder="Name" />
                    </div>
                  </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-6 mx-auto form-wrapper">
                    <div class="form-group">
                     <select class="custom-select" name="rgen">
                      <option disabled="" selected="true">Gender</option>
                      <option value="M">Male</option>
                      <option value="F">Female</option>
                      <option value="O">Others</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6 col-6 mx-auto form-wrapper">
                    <div class="form-group">
                     <input type="text" class="form-control" name="rmob" placeholder="Mobile" />
                    </div>
                  </div>
                    </div>

                     <div class="d-flex flex-row mt-4 mb-4">
                     
                  <div class="col-lg-6 col-md-6 col-sm-6 col-6 mx-auto form-wrapper">
                    <div class="form-group">
                      <input type="text" class="form-control" name="rrel" placeholder="Relation with patient" />
                    </div>
                  </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-6 mx-auto form-wrapper">
                    <div class="form-group">
                     <input type="text" class="form-control" name="radd" placeholder="Address" />
                    </div>
                  </div>
                    </div>
                  <div class="d-flex flex-row mt-4 mb-4">
                     
                  <div class="col-lg-6 col-md-6 col-sm-6 col-6 mx-auto form-wrapper">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="idproof">
                                <label class="custom-file-label" for="id" id="idproffval">Id Proof</label>
                              </div>
                            </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-6 mx-auto form-wrapper">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="pic">
                                <label id="idpicval" class="custom-file-label" for="pic">Patient Photo</label>
                              </div>
                            </div>
                          </div>
                 <div class="row">
                <div class="col-lg-7 col-md-8 col-sm-9 col-12 mx-auto form-wrapper">
                    <button type="submit" class="btn btn-primary btn-block" id="subbbtn"> Submit </button>
                  </div>
                </div>
              
                  </div>
                </div>
                  </div>
          </div>
        </div>
      </div>
      </form>
<script type="text/javascript">
    $(document).ready(function() {
  document.getElementById('idproof').onchange = function () {
    $('#idproffval').html(this.value);
    $('#idproffval').setAttribute('class','text-success')

  }
});

    $(document).ready(function() {
  document.getElementById('pic').onchange = function () {
    $('#idpicval').html(this.value);
    $('#idpicval').setAttribute('class','text-success')

  }
});
</script>


      <script type="text/javascript">
    $(document).ready(function() {

  $('#ipd_form').on('submit', function(event) {
    document.getElementById('subbbtn').innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span><span class="sr-only">Loading...</span>';
    $.ajax({
      data : $('#ipd_form').serialize(),
      type : 'POST',
      url : 'http://localhost:5000/ipd_reg'
    })
    .done(function(data) {

      if (data.error) {
        $('#ipd_form').replaceWith("<div id='ipd_form'><img style='width: 15%;display: block;margin: auto;' src='/static/img/sad.gif'/><br><h3 class='text-white text-center'>OOPS..!! Please try again.</h3></div>");
      }
      else {
        $('#ipd_form').replaceWith('<div id="ipd_form"><div class="patient-profile"><div class="user-profile"><div class="col-lg-6 col-md-7 col-sm-8 col-12 mx-auto form-wrapper"><div class="display-avatar animated-avatar"><!-- <img class="profile-img img-lg rounded-circle" src="../static/images/profile/male/image_1.png" alt="profile image"> --><h1 class="profile-img text-white" style="line-height: 1.2em;"><i class="mdi mdi-checkbox-marked-circle-outline"></i></h1></div><h3>Prescription Successfully Submitted</h3></div></div></div></div>');
      }

    });

    event.preventDefault();

  });

});
</script>
      <script>
        $(document).ready(function() {
          var url = new URL(window.location.href);

var query_string = url.search;

var search_params = new URLSearchParams(query_string); 

var prn = search_params.get('prn');
var ppid = search_params.get('ppid');


                $.ajax({
                  type: "POST",
                  url: "http://localhost:5000/ipdpatientinfo?prn="+prn+"&"+"ppid="+ppid,
                  processData:false,
                  cache: false,
                  success: function(row) {
                    var prn = '';
                    var pname = '';
                    var pmobile = '';
                    var page = '';
                    var pgender = '';
                    var pdate = '';
                    var preason = '';
                    var doctor = '';
                    var d = new Date();
                    var n = ''
          $.each(row, function (key,value) {
          prn =  value.patient_relationship_number;
          pname =  value.patient_name;
          pmobile =  value.patient_mobile;
          page =  value.patient_age;
          pgender =  value.patient_gender;
          paddress =  value.patient_address;
          preason =  value.reason;
          pdoctor =  value.patient_assigned_doctor;
          ppid = value.prescription_no;
          n = value.patient_name.charAt(0).toUpperCase();

           });
              $('#prn').html(prn);
              $('#pname').html(pname);
              $('#pmobile').html(pmobile);
              $('#page').html(page);
              $('#pgender').html(pgender);
              $('#paddress').html(paddress);
              $('#preason').html(preason);
              $('#ppid').html(ppid);
              $('#n').html(n);
              $('#reason').html(preason);
              $('#dname').html(pdoctor);
              document.getElementById('prnn').value = prn;
              // $('#pdate').html(d.toDateString());
        
              history.back();

                  },
                  error: function(jqXHR, textStatus, errorThrown) {
                     $('#Notification').show();
                     $("#Notification").html(textStatus + " " + errorThrown);
                  }
               });
            });

      </script>


  


 <script type="text/javascript">
  function bedallot() {
        $(document).ready(function() {
          var hrn = document.getElementById('hrn').innerHTML
                $.ajax({
                  type: "POST",
                  url: "http://localhost:5000/fetchbed?hrn="+hrn+"",
                  processData:false,
                  cache: false,
                  success: function(row) {
                    var text = '';
                    var bed = '';
                     bedn = CSVToArray(row[3].bednumber,'');
                     console.log(bedn[0]);
                     for(var i = 0; i < row.length; i++){
                       bedn = CSVToArray(row[i].bednumber,'');
                        bedn[0].forEach(function (item) {
                        bed +='<li class="bed-list"><a><label class="btn btn-primary"><input type="radio" name="bedvalue" id="option2" value="roomblock:'+row[i].roomblock+',roomfloor:'+row[i].roomfloor+',roomtype:'+row[i].roomtype+',roomnumber:'+item+'"><i class="mdi mdi-bed-empty"></i></label><br><span class="text-center">'+item+'</span></a></li>';
                          });
                       text +='<p class="text-center font-weight-bold">Block: <span>' + row[i].roomblock +'</span></p><div class="d-flex flex-row align-items-end mt-2"><div class="col-lg-4 col-md-6 col-sm-6 col-6 mx-auto text-center form-wrapper"><p class="ml-1 font-weight-bold">Room type: <span id="ppid" class="font-weight-normal">'+ row[i].roomtype +'</span></p></div><div class="col-lg-4 col-md-6 col-sm-6 col-6 mx-auto text-center form-wrapper"><p class="ml-1 font-weight-bold">Room Number: <span id="pdate" class="font-weight-normal">'+row[i].roomnumber+'</span></p></div><div class="col-lg-4 col-md-6 col-sm-6 col-6 mx-auto text-center form-wrapper"><p class="ml-1 font-weight-bold">Room Floor: <span id="pdate" class="font-weight-normal">'+row[i].roomfloor+'</span></p></div></div><ul class="list-inline bed-details">' + bed +'</ul>'
                        bed=''  ;                      
                        }
                     
                     $("#bedinfo").html(text);
                
        //              // $("#Notification").html(roomfloorow);
                     // var count = row.length;
                     // $("#notifycount").html(count);

                  },
                  error: function(jqXHR, textStatus, errorThrown) {
                     $('#Notification').show();
                     $("#Notification").html(textStatus + " " + errorThrown);
                  }
               });
            });
      }
  </script>

<script type="text/javascript">
   function CSVToArray( strData, strDelimiter ){
        // Check to see if the delimiter is defined. If not,
        // then default to comma.
        strDelimiter = (strDelimiter || ",");
        // Create a regular expression to parse the CSV values.
        var objPattern = new RegExp(
            (
                // Delimiters.
                "(\\" + strDelimiter + "|\\r?\\n|\\r|^)" +
                // Quoted fields.
                "(?:\"([^\"]*(?:\"\"[^\"]*)*)\"|" +
                // Standard fields.
                "([^\"\\" + strDelimiter + "\\r\\n]*))"
            ),
            "gi"
            );
        // Create an array to hold our data. Give the array
        // a default empty first row.
        var arrData = [[]];
        // Create an array to hold our individual pattern
        // matching groups.
        var arrMatches = null;
        // Keep looping over the regular expression matches
        // until we can no longer find a match.
        while (arrMatches = objPattern.exec( strData )){
            // Get the delimiter that was found.
            var strMatchedDelimiter = arrMatches[ 1 ];
            // Check to see if the given delimiter has a length
            // (is not the start of string) and if it matches
            // field delimiter. If id does not, then we know
            // that this delimiter is a row delimiter.
            if (
                strMatchedDelimiter.length &&
                (strMatchedDelimiter != strDelimiter)
                ){
                // Since we have reached a new row of data,
                // add an empty row to our data array.
                arrData.push( [] );
            }
            // Now that we have our delimiter out of the way,
            // let's check to see which kind of value we
            // captured (quoted or unquoted).
            if (arrMatches[ 2 ]){
                // We found a quoted value. When we capture
                // this value, unescape any double quotes.
                var strMatchedValue = arrMatches[ 2 ].replace(
                    new RegExp( "\"\"", "g" ),
                    "\""
                    );
            } else {
                // We found a non-quoted value.
                var strMatchedValue = arrMatches[ 3 ];
            }
            // Now that we have our value string, let's add
            // it to the data array.
            arrData[ arrData.length - 1 ].push( strMatchedValue );
        }
        // Return the parsed data.
        return( arrData );
    }
$(document).ready(function(){
  $('[data-toggle="popover"]').popover();
});

</script>