<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Report | AAROGYAM</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../static/vendors/iconfonts/mdi/css/materialdesignicons.css" />
    <link rel="stylesheet" href="../static/vendors/css/vendor.addons.css" />
    <!-- endinject -->
    <!-- vendor css for this page -->
    <!-- End vendor css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../static/css/shared/style.css" />
    <!-- endinject -->
    <!-- Layout style -->
    <link rel="stylesheet" href="../static/css/demo_1/style.css">
    <!-- Layout style -->
    <link rel="shortcut icon" href="../static/images/favicon.png" />
  </head>
<body>
    <div class="container">
          <div class="grid">
            <div class="grid-body">
                <div class="row">
                <div class="col-lg-6 col-md-7 col-sm-10 col-11 mx-auto">
                    <h5 class="text-left ">Report</h5>
                    <p class="text-left">No. 11112345678</p>
            </div>
            <div class="col-lg-6 col-md-7 col-sm-10 col-11 mx-auto">
                    <h5 class="text-right "><img src="static/images/logo.png" class="w-50"></h5>
                    <p class="text-right">Mahatma Gandhi Hospital</p>
                    <p class="text-right">MHA12345NPT</p>
            </div>
        </div>
        <hr/>
        <div class="row">
                <div class="col-lg-6 col-md-7 col-sm-10 col-11 mx-auto">
                    <p class="font-weight-bold">Date:</p>
                    <p class="font-weight-normal">16-Dec-2019 3:17 PM</p>
            </div>
            <div class="col-lg-6 col-md-7 col-sm-10 col-11 mx-auto">
                    <p class="font-weight-bold" >Patient Relationship Number</p>
                    <p >MHA12345NPT</p>
            </div>
        </div>
        <hr>
          <div class="row">
                <div class="col-lg-6 col-md-7 col-sm-10 col-11 mx-auto">
                    <p class="font-weight-bold">Patient Detail:</p>
                    <p class="font-weight-normal">Tanvee Gupta</p>
                    <p class="font-weight-normal">Sitapura, Jaipur, Rajasthan</p>
                    <p class="font-weight-normal">+91.9876543210</p>
            </div>
            <div class="col-lg-6 col-md-7 col-sm-10 col-11 mx-auto">
                    <p class="font-weight-bold" >Referred By</p>
                    <p >Pulkit Batheja</p>
                    <div class="row">
                        <div class="col-6">
                    <p class="font-weight-bold" >Age</p>
                    <p >20</p>
                </div>
                <div class="col-6">
                     <p class="font-weight-bold" >Sex</p>
                    <p >Female</p>
                </div>
            </div>
            </div>
        </div>
        <hr/>
       <h2 class="text-center w-100"><mark>CBC Report</mark></h2>
    </div>

    </div>
</div>
</div>
</body>
  </html>